/* Import Google Font  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --smoky-black: rgb(49, 46, 45);
  --jet: rgb(8, 8, 8);
  --gray: rgb(186, 188, 192);
  --dun: rgb(227, 214, 201);
  --antiflash-white: #f3f3f4ff;
}

body {
  background-color: var(--smoky-black);
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: rgb(240, 237, 237);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50em;
}

section > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  border-color: black;
  width: 20em;
  height: 30em;
  gap: 2em;
}

div > div > div {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
}

button {
  padding: 1em;
  cursor: pointer;
  background-color: var(--dun);
  color: black;
  border-radius: 1.5em;
  border-style: solid;
  border-width: 0.2em;
  background-color: var(--dun);
  font-weight: bold;
}

output {
  border-style: solid;
  border-color: var(--jet);
  width: 11em;
  height: 2em;
  text-align: center;
}

div > div > div:nth-of-type(1),
div > div > div:nth-of-type(2),
div > div > div:nth-of-type(3),
div > div > div:nth-of-type(4),
div > div > div:nth-of-type(5) {
  margin-bottom: 1em;
}
